.topContainer {
  border-style: solid;
  height: 45vh;
}

.bottomContainer {
  border-style: solid;
  height: 45vh;
}

.middleContainer {
  background-color: black;
}

.loginButton {
  height: 3em;
  width: 12em;
}

.loginButtonImage {
  height: 100%;
  width: 100%;
}