.topContainer {
  border-style: solid;
  height: 45vh;
}

.topAuthImage {
  height: 100%;
  width: 100%;
}

.bottomContainer {
  border-style: solid;
  height: 45vh;
  background-color: #578F53;
}

.middleContainer {
  background-color: #1D3C26;
  border-color: #578F53;
  border-style: solid;
}

.loginButton {
  height: 3em;
  width: 12em;
}

.loginButtonImage {
  height: 100%;
  width: 100%;
}