.carouselPhoto {
  height: 25em;
  width: 75%;
}

.coursePhotos {
  padding-top: 3em;
}

.detailsSection {
  padding-top: 2em;
}

.courseTitle {
  padding-top: 2em;
}

.courseMapImage {
  padding-bottom: 2em;
  height: 20em;
  width: 20em;
}

.courseCharacteristics {
  padding-top: 2em;
}

.descriptionSection {
  padding-top: 2em;
}

.SingleCourse {
  background-image: url(https://wallpapercave.com/wp/Y3t43E3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
