.holeImage {
  height: 30em;
  width: 10em;
}

.SingleHole {
  background-image: url(https://wallpapercave.com/wp/Y3t43E3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.commentCard {
  margin-top: 2em;
}