.Home {
  padding-top: 3em;
  height: 100vh;
  background-image: url(https://wallpapercave.com/wp/Y3t43E3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.profileCard {
  width: 75%;
  height: 45%;
}

.profileImage {
  height: 102%;
}
