.Home {
  padding-top: 3em;
}

.profileTitle {
  padding-bottom: 1em;
}

.profileInfo {
  padding-top: 1em;
}

.nameEmailContainer {
  padding-top: 6em;
}

.userName {
  padding-top: 2em;
}

.userEmail {
  padding-top: 2em;
}