.mediaComment {
  background-color: white;
}

.SingleCommentCard {
  display: flex;
  justify-content: center;
}

.cardBody {
  margin-top: 1em;
}

.commentImage {
  height: 5em;
  width: 5em;
}

.commentName {
  margin-top: 1.9em;
  margin-left: 1em;
}

.cardTitle {
  margin-right: 2px !important;
}

.exitButton {
  display: flex;
  justify-content: flex-end;
}

.singleCard {
  margin: 1em;
}

.actionList {
  display: flex;
  justify-content: flex-end;
}

.likeImage {
  display: flex;
  justify-content: flex-end;
  width: 2em;
  height: 2em;
}

.likeButton {
  margin-right: 1em;
}

.text-muted {
  padding-right: 1em;
} 

.editCommentButton {
  margin-bottom: .5em;
}